<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit JS</title>
</head>
<body>
    <h1>Edit Product</h1>

    <form action="/products/<%=product.id%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" value="<%=product.name%>" name="name" placeholder="name" id="name"/>

        <label for="price">Price</label>
        <input type="number" value="<%=product.price%>" name="price" placeholder="price" id="price"/>

        <label id="category">Category</label>
        <select >
            <option value="fruit">Fruit</option>
            <option value="dairy">Dairy</option>
            <option value="vegetable">vegetable</option>
        </select>
        <button>Update</button>
    </form>
</body>
</html>